newspaper3k
gensim
scikit-learn
nltk
Sastrawi
networkx
transformers
torch
streamlit
rouge-score
pandas
numpy
python-dotenv
lxml_html_clean
googlenewsdecoder
fastapi
uvicorn
feedparser
requests
python-multipart
jinja2
