newspaper3k
gensim
scikit-learn
nltk
Sastrawi
networkx
transformers
torch
rouge-score
pandas
numpy
python-dotenv
lxml_html_clean
googlenewsdecoder
fastapi
uvicorn
feedparser
requests
python-multipart
jinja2
gradio>=5.0.0
spaces
huggingface_hub
